.component-ficha-persona {
    background: #072146;
    padding: 40px;
    color: #fff;
    width: 50%;
    margin: 0 auto;
}
.component-ficha-persona input {
    text-transform: capitalize;
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.component-ficha-persona input:disabled {
    color: #fff;
}